<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduation Gift</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<!-- BUTTERFLIES -->
         <div class="butterflies">

    <span>🦋</span>
    <span>🦋</span>
    <span>🦋</span>
    <span>🦋</span>
    <span>🦋</span>

</div>

    <!-- INTRO SCREEN -->

    <div id="intro">

        <h1>For Someone Special 🤍</h1>

        <p>Tap to open your graduation gift</p>

        <button id="enter-btn">
            Open 💌
        </button>

    </div>

    <!-- OPEN LETTER -->

<section class="open-letter">

    <div class="open-letter-content">

        <p class="mini-text">
            for your graduation 🎓
        </p>

        <h2>
            To someone
            who survived every hard day
        </h2>

        <p class="open-text">
             𝒜𝓀𝓊 𝓅𝑒𝓇𝓈𝑒𝓂𝒷𝒶𝒽𝓀𝒶𝓃 𝓀𝑒𝓅𝒶𝒹𝒶 𝒿𝒾𝓌𝒶 𝓎𝒶𝓃𝑔 𝓇𝒶𝓅𝓊𝒽, 𝓉𝒶𝓅𝒾 𝓉𝑒𝓉𝒶𝓅 𝓀𝓊𝒶𝓉 𝒷𝑒𝓇𝓉𝒶𝒽𝒶𝓃.
             𝒥𝒾𝓌𝒶 𝓎𝒶𝓃𝑔 𝓅𝑒𝓃𝓊𝒽 𝒹𝑒𝓃𝑔𝒶𝓃 𝓀𝑒𝓉𝒶𝓀𝓊𝓉𝒶𝓃, 𝓉𝒶𝓅𝒾 𝓉𝑒𝓉𝒶𝓅 𝒷𝑒𝓇𝒶𝓃𝒾 𝓂𝑒𝓁𝒶𝓃𝑔𝓀𝒶𝒽.
             𝒥𝒾𝓌𝒶 𝓎𝒶𝓃𝑔 𝓅𝑒𝓃𝓊𝒽 𝒹𝑒𝓃𝑔𝒶𝓃 𝓀𝑒𝓇𝒶𝑔𝓊𝒶𝓃, 𝓉𝒶𝓅𝒾 𝓉𝑒𝓉𝒶𝓅 𝒷𝑒𝓇𝓊𝓈𝒶𝒽𝒶 𝓊𝓃𝓉𝓊𝓀 𝓅𝑒𝓇𝒸𝒶𝓎𝒶 𝓅𝒶𝒹𝒶 𝒹𝒾𝓇𝒾 𝓈𝑒𝓃𝒹𝒾𝓇𝒾.
             𝒜𝓀𝓊 𝓅𝑒𝓇𝓈𝑒𝓂𝒷𝒶𝒽𝓀𝒶𝓃 𝓀𝑒𝓅𝒶𝒹𝒶 𝓀𝒶𝓂𝓊, 𝓎𝒶𝓃𝑔 𝓈𝓊𝒹𝒶𝒽 𝒷𝑒𝓇𝒽𝒶𝓈𝒾𝓁 𝓈𝒶𝓂𝓅𝒶𝒾 𝒹𝒾 𝓉𝒾𝓉𝒾𝓀 𝒾𝓃𝒾.

        </p>

        <a href="#graduation" class="btn">
            Continue ↓
        </a>

    </div>

</section>



    <!-- HERO SECTION -->

    <section id="graduation" class="hero">
        <div class="overlay"></div>

        <div class="hero-content">

            <h1>Happy Graduation 🎓</h1>

            <p>
          

            <a href="#message" class="btn">
                Scroll Down ↓
            </a>

        </div>

    </section>



    <!-- MESSAGE SECTION -->

    <section id="message" class="message-section fade-in">

        <div class="message-content">

            <h2>A Little Message For You 💌</h2>

            <p>
                Hai, terimakasih karena sudah mau bertahan hingga titik ini.
                Setelah mengenalmu aku sangat paham bahwa jadi dirimu itu tidaklah mudah,
                terlalu banyak riuh, selalu dihantui rasa takut akan ke gagalan, but 
                kamu tetap bertahan. Kamu tetap berjuang. Dan hari ini bukti kemenangan kecil atas dirimu.
            
            </p>

            <p>
                Aku ucapkan selamat kepadamu yang sudah berhasil hingga titik ini. 
            </p>

            <p>
               Semoga diperjelanan setelahnya kamu selalu menemukan alsann untuk tersenyum,
               kamu akan selalu dirayakan setiap pencapaian kecil yang kamu raih, karena kamu layak untuk itu.
            </p>

            </p>
                Form : 𝓐𝓲𝓻𝓿𝓪𝓼𝓴𝓪 𝓡𝓪𝓴𝓱𝓪𝓯𝓪 𝓐𝓵 𝓕𝓪𝓻𝓮𝓵𝓵
        </p>
                                  05 𝓜𝓮𝓲 2026
        </p>
        </div>

    </section>

<!-- MEMORY WALL -->

<section class="memory-wall fade-in">

    <h2>Our Memories 🤍</h2>

    <div class="memory-grid">

        <!-- FOTO 1 -->
        <div class="memory memory-big">
            <img src="{{ url_for('static', filename='images/foto1.jpg') }}">
            <p>our happiest day 🎓</p>
        </div>

        <!-- FOTO 2 -->
        <div class="memory">
            <img src="{{ url_for('static', filename='images/foto2.jpg') }}">
            <p>you make life beautiful</p>
        </div>

        <!-- FOTO 3 -->
        <div class="memory">
            <img src="{{ url_for('static', filename='images/foto3.jpg') }}">
            <p>thank you for everything 🤍</p>
        </div>

        <!-- QUOTE -->
        <div class="memory quote-box">

            <h3>
                "all those little moments with you became my favorite memories"
            </h3>

        </div>

</section>

<!-- FINAL LETTER -->

<section class="final-letter fade-in">

    <div class="letter-box">

        <p class="small-text">
            A Final Message 🤍
        </p>

        <h2>
            To My Favorite Person
        </h2>

        <p class="letter-text">

            Aku tahu perjalanan kamu sampai di titik ini nggak gampang.

            Ada banyak capek yang mungkin nggak semua orang lihat.
            Ada banyak hari dimana kamu harus kuat bahkan saat lagi lelah.

            Tapi kamu tetap bertahan.

            Dan hari ini...
            kamu berhasil sampai di hari kelulusanmu 🎓

            Aku cuma mau bilang:

            aku bangga banget sama kamu.

            Terima kasih udah selalu jadi seseorang yang hangat,
            kuat,
            dan penuh kasih sayang.

            Semoga setelah ini hidup memperlakukan kamu dengan baik.
            Semoga semua mimpi yang kamu simpan pelan-pelan datang ke hidup kamu.

            Dan semoga,
            di setiap langkah baru setelah ini,
            kamu selalu menemukan alasan untuk tersenyum 🤍

        </p>

        <p class="signature">
            — from someone who loves you endlessly ✨
        </p>

    </div>

</section>
   


    <!-- MUSIC -->

    <audio id="bg-music" loop>
        <source src="{{ url_for('static', filename='music/song.mp3') }}" type="audio/mpeg">
    </audio>



    <!-- JAVASCRIPT -->

    <script>

    const intro = document.getElementById("intro");
    const enterBtn = document.getElementById("enter-btn");
    const music = document.getElementById("bg-music");

    enterBtn.addEventListener("click", () => {

        intro.style.opacity = "0";

        setTimeout(() => {
            intro.style.display = "none";
        }, 1000);

        music.play();

    });

    </script>
<script>

const slides = document.querySelectorAll(".slide");

let currentSlide = 0;

setInterval(() => {

    slides[currentSlide].classList.remove("active");

    currentSlide++;

    if(currentSlide >= slides.length){
        currentSlide = 0;
    }

    slides[currentSlide].classList.add("active");

}, 4000);

</script>
</body>
</html>